*{
    margin:0;
}

body{
    background-color: aliceblue;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightblue;
    padding: 5px;
}

footer{
    /* plassering i dokumentet */
    /* position: absolute; */
    /* position:fixed; */
    /* left:0;
    right: 0; */
    bottom: 0;
    
    /* Størrelse */
    min-height: 100px;
    width: 100%;

    /* inni */
    padding: 5px;

    /* farger */
    background-color: black;
    color: white;
}

/* button */
button{
    border:none;
    background-color: rgb(5, 8, 23);
    color:white;
    padding:4px;
    width:2.5em;
    height: min-content;
}

button:hover{
    background-color: rgb(30, 97, 97);
}

